version: "3.9"

services:
  backend:
    image: prasadbhoite16/django-backend:latest
    container_name: django-backend
    ports:
      - "8000:8000"
    environment:
      DEBUG: "false"
      ALLOWED_HOSTS: "*"
    restart: always
    networks:
      - app-network

  frontend:
    image: prasadbhoite16/react-frontend:latest
    container_name: react-frontend
    ports:
      - "80:80"
    environment:
      VITE_API_URL: http://django-backend:8000
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
